<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="transitionBean" type ="com.nextcont.ecm.fileengine.business.persistence.bean.TransitionBean"/>
		<typeAlias alias="transitionFilesBean" type ="com.nextcont.ecm.fileengine.business.persistence.bean.TransitionFilesBean"/>
		<typeAlias alias="fileRecordBean" type ="com.nextcont.ecm.fileengine.business.persistence.bean.FileRecordBean"/>
    </typeAliases>
</configuration>