<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="dispatch-service" owner="nextcont" organization="dubbox"/>

    <dubbo:registry address="zookeeper://${zk.server}" timeout="100000"/>

    <dubbo:reference id="convertService" interface="com.nextcont.ecm.fileengine.video.transcode.api.IConvertService" timeout="3000" retries="0"/>


    <!--<dubbo:reference id="fileManager" interface="com.nextcont.ecm.fileengine.api.FileManager" timeout="3000" retries="0"/>-->


</beans>